*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand";
}

.header {
    background: #000;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-family: "Quadranta";
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    color: white;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.nav-menu-link:hover, 
.nav-menu-link_active{
    background:none;
    color: aqua;
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}

@media (max-width: 768px) {
    body {
        padding-top: 70px;
}

.header {
    height: 60px;
}

.logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
}

.nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #1c3858;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;
}

.nav-menu-item {
    line-height: 70px;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}
